/* html {
    font-family: sans-serif;
    font-size: 14px;
  }
  
  table {
    border: 1px solid lightgray;
  }
  
  tbody {
    border-bottom: 1px solid lightgray;
  }
  
  th {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 2px 4px;
  }
  
  tfoot {
    color: gray;
  }
  
  tfoot th {
    font-weight: normal;
  }
   */

   .users-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }
  
  .users-table-header2{
    /* border-right: 1px solid #dddddd; */
    text-align: center;
    padding: 8px;
  }

  .header, .notheader {
    font-weight: 400;
    text-align: center;
  }
  
  .users-table-header {
    text-align: center;
    padding: 8px;
    border: 1px solid #dddddd;
    border-top: none;
  }

  .users-table-header2 {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    /* border: 1px solid #dddddd; */
  }

  .users-table-cell2 {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }

 .header {
  
 }

 .users-table-header:nth-child(2) .header{
  /* border: none;
  width: 200px;
  align-items: center; */
 }

 .users-table-header2:nth-child(1),
 .users-table-header2:nth-child(5),
 .users-table-header2:nth-child(8),
 .users-table-header2:nth-child(10) {
  border-right: 1px solid #dddddd;
 }

  .korobka {
    /* padding: 4px 16px; */
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #dddddd;
    border-radius: 4px;
  }

  .users-table-cell2:nth-child(1) .korobka {
    border: none;
    color: #167FFB;
  }

  .users-table-cell2:nth-child(1) {
    border-right: 1px solid #dddddd;
  }

  .users-table-cell2:nth-child(5) {
    border-right: 1px solid #dddddd;
  }

  .users-table-cell2:nth-child(6) .korobka,
  .users-table-cell2:nth-child(7) .korobka,
  .users-table-cell2:nth-child(8) .korobka,
  .users-table-cell2:nth-child(9) .korobka {
    border: none;
  }

  .users-table-cell2:nth-child(8),
  .users-table-cell2:nth-child(10) {
    border-right: 1px solid #dddddd;
  }


  /* .users-table-cell2:first-child{
    text-align: center;
    color: aqua;
    
  } */

  /* [data-dataAttribute="column2"] {
    padding: 4px 16px;
    border: 1px solid #dddddd;
    color: aqua;
  } */
  /* .tbody-row {
    display: flex;
    flex-direction: row;
  } */